<!-- <ion-card>
    <ion-card-content>
        <ion-row class="font-bold">
            <ion-col>
                {{items.nameplace}}
            </ion-col>
        </ion-row>
        <ion-row class="marginT">
            <ion-col>
                {{items.addressplace.address}} {{items.addressplace.subdistrict}} {{items.addressplace.district}} {{items.addressplace.province}} {{items.addressplace.postcode}}
            </ion-col>
        </ion-row>
        <ion-row class="marginT">
            <ion-col>
                Tel : {{items.telplace}}
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card> -->
<ion-list>
    <button ion-item *ngFor="let item of items">
          <p><b>{{item.nameplace}}</b></p><br>
          <p>{{item.addressplace.address}}</p>
          <p>{{item.addressplace.subdistrict}}
          {{item.addressplace.district}}
          {{item.addressplace.province}}
          {{item.addressplace.postcode}}</p><br>
          <p>Tel : {{item.telplace}}</p>
        </button>
</ion-list>