<ion-content class="signup-content auth-content">
    <ion-slides #slides>
        <ion-slide class="slide-1">
            <ion-list>

                <ion-item>
                    <ion-label stacked>Province</ion-label>
                    <ion-input type="province"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>District</ion-label>
                    <ion-input type="district"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Subdistrict</ion-label>
                    <ion-input type="subdistrict"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Postcode</ion-label>
                    <ion-input type="postcode"></ion-input>
                </ion-item>


            </ion-list>
            <button ion-button block color="secondary" (click)="gotoNext()">NEXT</button>

        </ion-slide>

        <ion-slide class="slide-2">
            <ion-list>
                <ion-item>
                    <ion-label stacked>Address title</ion-label>
                    <ion-input type="address title"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Address detail</ion-label>
                    <ion-input type="address detail"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Mobile number</ion-label>
                    <ion-input type="Mobile number"></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button block color="light" (click)="gotoBooking()">SAVE</button>
            <button ion-button block color="light" (click)="gotoBack()">BACK</button>
        </ion-slide>
    </ion-slides>
</ion-content>