<!--
  Generated template for the PickupDatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PICKUP DATE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let day of pickupdate.date" (click)="itemSelected(item)">
          {{ day.day}}  {{day.month}} {{day.year}}
        </button>
  </ion-list>

  <!-- <ion-row *ngFor="let day of pickupdate.date">
    <ion-col>
      {{day.day}} {{day.month}} {{day.year}}

    </ion-col>
  </ion-row> -->

</ion-content>